<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!-- Cielo Webservice 3.0-->    
    <add key="cielo.endpoint.default" value="https://apisandbox.cieloecommerce.cielo.com.br" />
    <add key="cielo.endpoint.query" value="https://apiquerysandbox.cieloecommerce.cielo.com.br" />
    <add key="cielo.customer.id" value="859527a9-ae18-4b2d-929e-dc8da1c3dc01" />
    <add key="cielo.customer.key" value="GLXXLOCDIOCVPWCTXWKOZXKKXSLDEDYXOUBDMPUB" />
    <add key="cielo.return.url" value="/success" />
  </appSettings>
</configuration>
